.hideDialog {
    display: none;    
}

#DialogContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(105, 105, 105, 0.6);
}

#InnerDialog {
    position: absolute;
    top: 25%;
    left: 25%;
    border-style: solid;
    border-color: white;
    border-radius: 10px 10px 10px 10px;
    padding: 5rem;
    background-color: rgba(255, 255, 255, 1);
    width: 55rem;
    display: grid;
    grid-row-gap: 0.5rem;
    grid-column-gap: 2rem;
}
#InnerDialog > h3 {
    grid-area: title;
}

.bringBack {
    z-index: -1;
}

.showDialog {
    display: block;
}

.loadingContainer {
    background-color: #c9e7f5;
    padding: 1rem;
    border-radius: 10px 10px 10px 10px;
}

#UserLoading {
    margin: 1rem;
}

.hideLoading {
    opacity: 0;
}

.displayLoading {
    opacity: 1;
}

.siteContainer {
    padding: 5rem 5rem 5rem;
    margin-top: 5rem;
    background-color: rgb(14, 63, 107);
    display: grid;
    grid-row-gap: 0.5rem;
    grid-column-gap: 0.5rem;   
}

#MainSiteContainer {
    grid-template-areas: 'Favorites Quote' 'Portfolio Portfolio';
}

#UserSiteContainer {
    grid-template-areas: 'UserSettings';
}


#TransactionSiteContainer {
    grid-template-areas: 'TransactionList';
}

#MarketSiteContainer {
    grid-template-areas: 'MerketSearch';
}

#TransactionContainer {
    grid-area: TransactionList;
}

#UserSettingsContainer {
    grid-area: UserSettings;
    max-width: 700px;
}

#UserSettingsContainer > form {
    margin: 1rem 2rem 1rem;
}
#MarketSearchContainer {
    grid-area: MerketSearch;
}

#QuoteContainer {
    grid-area: Quote;
}

#PortfolioContainer {
    grid-area: Portfolio;
}

#FavoriteContainer {
    grid-area: Favorites;
}
.featureContainer {
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    padding: 2rem;
    border-color: black;
    background-color: white;
}

.highlightRow {
    background-color: #d9edf7 !important;
}

#Confirm {
    grid-area: ConfirmButton;
}

#CancelDialog {
    grid-area: CancelButton;
}

.colorValue {
    color: white;
    border-radius: 3px 3px 3px 3px;
    margin: 5px;
    display: inline;
    padding: 5px 5px 5px;
}

.greenValue {
    background-color: rgb(14, 185, 31);

}

.redValue {
    background-color: rgb(255, 0, 0);
}

.errorMsg {
    color: red;
}

#searchBar {
    width: 100%;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    font-size: 12px;
}

#searchWrapper {
    position: relative;
}

#searchWrapper::after {
    content: '🔍';
    position: absolute;
    top: 21px;
    right: 15px;
}
