.hideDialog {
    display: none;    
}

#DialogContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(105, 105, 105, 0.4);
}

#InnerDialog {
    position: absolute;
    top: 25%;
    left: 25%;
    border-style: solid;
    border-color: black;
    padding: 5rem;
    background-color: rgba(255, 255, 255, 1);
    width: 55rem;
    display: grid;
    grid-row-gap: 0.5rem;
    grid-column-gap: 2rem;
    grid-template-areas:
        'title title'
        'label1 static1'
        'label2 static2'
        'label3 static3'
        'label4 static4'
        'inputGroup1 inputGroup1'
        'SellButton CancelButton';
}
#InnerDialog > h3 {
    grid-area: title;
}

.bringBack {
    z-index: -1;
}

.showDialog {
    display: block;
}

#PortfolioLoading {
    background-color: rgb(128, 128, 128, 0.4);
}

.hideLoading {
    opacity: 0;
}

.displayLoading {
    opacity: 1;
}

.siteContainer {
    background-color: rgb(14, 63, 107);
    padding-top: 5rem;
}

.fatureContainer {
    margin: 5rem 5rem 5rem;
    border-style: solid;
    border-radius: 10px 10px 10px 10px;
    padding: 2rem;
    border-color: black;
    background-color: white;
}

.highlightRow {
    background-color: #d9edf7 !important;
}

#ConfirmSell {
    grid-area: SellButton;
}

#CancelSellDialog {
    grid-area: CancelButton;
}


